<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.username">username</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/datamining</property>
       <!--  <property name="hibernate.hbm2ddl.auto">create</property> -->
        <property name="hibernate.cache.use_second_level_cache">false</property>
        <mapping class="main.java.com.datamining.model.Address"/>
        <mapping class="main.java.com.datamining.model.AprioriRecord"/>
        <mapping class="main.java.com.datamining.model.CartList"/>
        <mapping class="main.java.com.datamining.model.Catagory"/>
        <mapping class="main.java.com.datamining.model.Product"/>
        <mapping class="main.java.com.datamining.model.ProductTransaction"/> 
        <mapping class="main.java.com.datamining.model.Role"/>
        <mapping class="main.java.com.datamining.model.Transaction"/> 
        <mapping class="main.java.com.datamining.model.User"/>
        <mapping class="main.java.com.datamining.model.Usercart"/>
        <mapping class="main.java.com.datamining.model.CodeVerification"/> 
        
       
    </session-factory>
</hibernate-configuration>
